# {{ ansible_managed }}

[Service]
# The following to prevent errors when ES tries to lock address space
# https://www.elastic.co/guide/en/elasticsearch/reference/8.19/setup-configuration-memory.html#bootstrap-memory_lock
# https://www.elastic.co/guide/en/elasticsearch/reference/8.19/setting-system-settings.html#systemd
LimitMEMLOCK=infinity
